extends layout

include mixins_docs/_intro
include mixins_docs/_upload
include mixins_docs/_project
include mixins_docs/_data
include mixins_docs/_help
include mixins_docs/_faq
include mixins_docs/_policy
include mixins_docs/_datenschutz
include mixins_docs/_terms
include mixins_docs/_dienstbedingungen
include mixins_docs/_legalnotice
include mixins_docs/_impressum


block content
  
  .inner
    p
    header.top
      nav.nav
        .nav__section.nav__section--pages
          li.nav__item: a.nav__link(href=`/docs/intro`, class=(currentPath.startsWith(`/docs/intro`) ? 'nav__link--active' : '')) #{l.intro_title}
          li.nav__item: a.nav__link(href=`/docs/upload`, class=(currentPath.startsWith(`/docs/upload`) ? 'nav__link--active' : '')) #{l.upload_title}
          li.nav__item: a.nav__link(href=`/docs/project`, class=(currentPath.startsWith(`/docs/project`) ? 'nav__link--active' : '')) #{l.project_title}
          li.nav__item: a.nav__link(href=`/docs/data`, class=(currentPath.startsWith(`/docs/data`) ? 'nav__link--active' : '')) #{l.data_title}
          li.nav__item: a.nav__link(href=`/docs/faq`, class=(currentPath.startsWith(`/docs/faq`) ? 'nav__link--active' : '')) #{l.faq_title}
          li.nav__item: a.nav__link(href=`/docs/${l.policy_link}`, class=(currentPath.startsWith(`/docs/${l.policy_link}`) ? 'nav__link--active' : '')) #{l.policy_title}
          li.nav__item: a.nav__link(href=`/docs/${l.terms_link}`, class=(currentPath.startsWith(`/docs/${l.terms_link}`) ? 'nav__link--active' : '')) #{l.terms_title}
          li.nav__item: a.nav__link(href=`/docs/${l.legal_notice_link}`, class=(currentPath.startsWith(`/docs/${l.legal_notice_link}`) ? 'nav__link--active' : '')) #{l.legal_notice_title}
          li.nav__item: a.nav__link(href=`/docs/help`, class=(currentPath.startsWith(`/docs/help`) ? 'nav__link--active' : '')) #{l.help_title}
  
    .card 
      .card-message
        +#{page}()
    
