extends layout

block header 
  
block content
  .inner
    .card
      
      if user
        if user.level && user.level > 10
          p !{layout.message_code_logged_in_researcher}
        else 
          p #{layout.message_code_logged_in}
          
      if !user
        form.form(action="/auth/code" method="POST")
          if (code)
            input(type="text" name="code" value=code readonly=code hidden=true)
          
          if (joined_project)
            input(type="text" name="participantInProject" value=joined_project._id readonly=joined_project hidden=true)
            if (joined_project.description)
              p #{joined_project.description}
            if (joined_project.welcomeMessage)
              p !{joined_project.welcomeMessage}
          
          if (query)
            input(type="text" name="queryParams" value=query readonly hidden=true)
        
          p
          input.button(type="submit" value=layout.enter)
          
          
