extends layout

block content
  .inner
    p
    header.top
      nav.nav
        .nav__section.nav__section--pages
          li.nav__item: a.nav__link(href="/users", class=(currentPath.startsWith('/users') ? 'nav__link--active' : '')) #{layout.participants}
          li.nav__item: a.nav__link(href="/data", class=(currentPath.startsWith('/data') ? 'nav__link--active' : '')) #{layout.results}
          li.nav__item: a.nav__link(href="/osf", class=(currentPath.startsWith('/osf') ? 'nav__link--active' : '')) OSF
    p
    .imageOSFContainer    
      .div
        p(style="font-weight: 700;") #{l.announcement_header}
        p(style="text-align: justify") !{l.announcement}
        p !{l.announcement_errors}
      <img src="/images/artwork/Ol-oSf_Done.png"/>
  
    .userTable
      
      if(project && user.project && user.project.name)
      
        if(project.osf && project.osf.upload_link && project.osf.upload_token)
        
          h2 #{l.sync_header_1}
            span(style="color:red; font-size: larger;")= project.name 
            | #{l.sync_header_2}  
            span(style="color:#337ab7; font-size: larger;")= project.osf.title 
            | #{l.sync_header_3}
              
          .card
            h6 #{l.recording_header}
            p
            form(action=`/updateprojectwithosfinfo/` method = 'POST' id="osfform")
              div.span4#test_privacy
                input(type='radio', name='osf.policy', value="OSF-OL", style="visibility: true;" checked=project.osf.policy === 'OSF-OL')#wnr1
                
                label(for='wnr1')
                  i.yes
                  span.
                    #{l.recording_1} 
                  br
                  small #{l.recording_1_desc} 
                
                input(type='radio', name='osf.policy', value="OSF", style="visibility: true;" checked=project.osf.policy === 'OSF')#wnr2
                
                label(for='wnr2')
                  i.yes
                  span.
                    #{l.recording_2} 
                  br
                  small #{l.recording_2_desc} 
                  
                input(type='radio', name='osf.policy', value="OL", style="visibility: true;" checked=project.osf.policy === 'OL')#wnr3
                  
                label(for='wnr3')
                  i.yes
                  span.
                    #{l.recording_3} 
                  br
                  small #{l.recording_3_desc} 
              
              input(type='submit' id="btnEditOsfProject" value=l.update class="button")
          
          p 
            a.button(href=project.osf.project_link target='_blank') #{l.goToOSF} 
            p 
            button.button(id='removeosfconnection' style='background-color:red; color:white') #{l.removeLink} 
          p
          p 
          p
        else
          h2 #{l.create} 
            span(style="color:rgba(135, 206, 250, 0.6); font-size: larger;")= project.name 
            | #{l.create_2}
             
          .card
            label #{l.create_title} 
            input(type="text" id="osf-title" value=project.name)
            
            label #{l.create_desc} 
            input(type="text" id="osf-description" value=project.description)
            
            label #{l.create_status} 
            
            div.span4#test_privacy
              input(type='radio', name='osf-status', style="visibility: true;" checked=true)#wnr1
              
              label(for='wnr1')
                i.yes
                span.
                  #{l.status_private} 
                br
                small #{l.status_private_desc} 
              
              input(type='radio', name='osf-status', style="visibility: true;")#wnr2
              
              label(for='wnr2')
                i.yes
                span.
                  #{l.status_public} 
                br
                small #{l.status_public_desc} 
                  
            p #{l.token_explained} 
              span(style="color:rgba(135, 206, 250, 0.6); font-size: larger;")= project.name 
              | #{l.token_explained_2} 
              
            p !{l.token_explained_3} 
              
            input(type="text" id="osf-token" placeholder=l.token_paste)
              
            p
            
            button(id="osf_testBtn" class="button") #{l.create_OSF} 
      else 
        .card
          p !{l.no_studies_yet}        
        
      //- pre=h.dump(project)
      //- pre=h.dump(user)
    
  script(type='text/javascript', src='/javascripts/services/osf.js' nonce=`${noncevalue}`)
