doctype html
html
  head
    title= `${title || h.siteName}`
    if (test && test.production && test.production == 'beta')
      script(src="https://labjs-beta.netlify.app/api/_defaultStatic/lib/lab.js" nonce=`${noncevalue}`)
      link(rel="stylesheet" href="https://labjs-beta.netlify.app/api/_defaultStatic/lib/lab.css")
    else
      if(test.labjsVersion && (['19,0,1', '19,1,0', '19,1,1', '19,1,2', '20,0,0', '20,0,1'].includes(test.labjsVersion)))
        script(src=`/labjs/${test.labjsVersion}/lab.js` nonce=`${noncevalue}`)
        script(src=`/labjs/${test.labjsVersion}/lab.fallback.js` nonce=`${noncevalue}`)  
        link(rel="stylesheet" href=`/labjs/${test.labjsVersion}/lab.css`)
      else
        script(src=`/labjs/lib/lab.js` nonce=`${noncevalue}`)
        script(src=`/labjs/lib/lab.fallback.js` nonce=`${noncevalue}`)
        link(rel="stylesheet" href="/labjs/lib/lab.css")
    
    if(test.plugins)
      each plugin in test.plugins
        if(plugin.url)
          script(src=`${plugin.url}` nonce=`${noncevalue}`)
        
  body
    div(class="container fullscreen" data-labjs-section="main")
      main(class="content-vertical-center content-horizontal-center")
        div
          img(src='/labjs/lib/loading.svg', alt='loading icon', style='padding: 1rem')
          br
          h2 #{layout.lab_js_loading_title}
          p #{layout.lab_js_loading_1}
          p #{layout.lab_js_loading_2}

    script(nonce=`${noncevalue}`).
      const params = !{JSON.stringify(params)} || {};
      const studyParameters = !{JSON.stringify(studyParameters)} || [];
      if(studyParameters && studyParameters.length > 0){
        const studyParamsObject = studyParameters.map(param => {
          let content = param.content;
          if(content.includes(',')){
            const contentArray = content.split(',');
            content = contentArray[Math.floor(Math.random() * contentArray.length)];
          }
          params[param.name] = content;  
        });
      }
      window.addEventListener('message', (event) => {
        //events at the end of the script
      });

    //-upload script
    script(defer type='text/javascript' nonce=`${noncevalue}`).
      !{test.file}

    script(defer nonce=`${noncevalue}`).
      const raw = !{JSON.stringify(test.css) || false};
      if(raw){
        const node = document.createElement('style');
        const style = raw.split('data:text/css,')[1];
        node.innerHTML = window.decodeURIComponent(style);
        document.body.appendChild(node);
      }

    if(test.header)
      script(nonce=`${noncevalue}`).
        const header = !{ JSON.stringify(test.header) || false }
        if(header){
          const decodedHeader = window.decodeURIComponent(header);
          const headerDiv = document.createElement('div');
          headerDiv.innerHTML = decodedHeader;
          Array.from(headerDiv.querySelectorAll("link")).map(link => {
            document.head.appendChild(link)
            })
          const scripts = Array.from(headerDiv.querySelectorAll("script"));
          for (let i = 0; i < scripts.length; i++) {
            const scr = scripts[i];
            var script = document.createElement("script");
            script.type = "text/javascript";
            const noncevalue = !{ JSON.stringify(noncevalue) || ''};
            script.nonce = noncevalue;
            script.id = scr.id;
            if(scr.src){
              script.src = scr.src;
            } else {
              script.innerHTML = scr.innerHTML;
            }
            document.head.appendChild(script);
          }
        }
