mixin chooseTimePlan(plan, period = {}, currency)
  
  if (plan == 'professional')
    h2 #{layout.professionalPlan}
    .plan-compare
      .panel(class=period=='year'&&'clickedPlan')
        span.plan-current #{layout.annual}
        p
        if currency == 'usd'
          p.plan_emails $7.50 / #{layout.month}
        else 
          p.plan_emails €6.00 / #{layout.month}
        a(type="link" class="nav__link button" href=`/subscribe/${plan}/year`) #{layout.select}
        if currency == 'usd'
          p #{layout.billedAsOnePayment} $90.00
        else 
          p #{layout.billedAsOnePayment} €72.00
      .panel(class=period=='quarter'&&'clickedPlan')
        span.plan-current #{layout.quarterly} 
        p
        if currency == 'usd'
          p.plan_emails $10.00 / #{layout.month}
        else 
          p.plan_emails €8.00 / #{layout.month}
        a(type="link" class="nav__link button" href=`/subscribe/${plan}/quarter`) #{layout.select}
        if currency == 'usd'
          p #{layout.billedAsOnePayment} $30.00
        else 
          p #{layout.billedAsOnePayment} €24.00
      .panel(class=period=='month'&&'clickedPlan')
        span.plan-current #{layout.monthly}
        p
        if currency == 'usd'
          p.plan_emails $13.00 / #{layout.month}
        else 
          p.plan_emails €10.00 / #{layout.month}
        a(type="link" class="nav__link button" href=`/subscribe/${plan}/month`) #{layout.select}
        if currency == 'usd'
          p #{layout.billedAsOnePayment} $13.00
        else 
          p #{layout.billedAsOnePayment} €10.00
  
  if (plan == 'laboratory')
    h2 #{layout.laboratoryPlan}
    .plan-compare
      .panel(class=period=='year'&&'clickedPlan')
        span.plan-current #{layout.annual}
        p
        if currency == 'usd'
          p.plan_emails $19.00 / #{layout.month}
        else 
          p.plan_emails €15.00 / #{layout.month}
        a(type="link" class="nav__link button" href=`/subscribe/${plan}/year`) #{layout.select}
        if currency == 'usd'
          p #{layout.billedAsOnePayment} $230.00
        else 
          p #{layout.billedAsOnePayment} €180.00
      .panel(class=period=='quarter'&&'clickedPlan')
        span.plan-current #{layout.quarterly} 
        p
        if currency == 'usd'
          p.plan_emails $25.00 / #{layout.month}
        else 
          p.plan_emails €20.00 / #{layout.month}
        a(type="link" class="nav__link button" href=`/subscribe/${plan}/quarter`) #{layout.select}
        if currency == 'usd'
          p #{layout.billedAsOnePayment} $75.00
        else 
          p #{layout.billedAsOnePayment} €60.00
      .panel(class=period=='month'&&'clickedPlan')
        span.plan-current #{layout.monthly}  
        p
        if currency == 'usd'
          p.plan_emails $30.00 / #{layout.month}
        else 
          p.plan_emails €25.00 / #{layout.month}
        a(type="link" class="nav__link button" href=`/subscribe/${plan}/month`) #{layout.select}
        if currency == 'usd'
          p #{layout.billedAsOnePayment} $30.00
        else 
          p #{layout.billedAsOnePayment} €25.00
    
