mixin researcherCard(person = {}, i)

  .user
      tr
        td #{i + 1}
        td= person.email||(person.facebook && person.facebook.email)||(person.github && person.github.email)||(person.google && person.google.email)||'No email'
        if person.emailIsConfirmed
          td ✅
        else 
          td
        td= person.participant_id
        td= person.name
        td= person.institute
        td= h.moment(person.created).locale(language).format('MM-DD-YY, H:mm')
        td= person.language
        td= (person.project && person.project.name) || person.participantInProject
        if person.subscription
          td= `${person.subscription_id}-${person.subscription_plan}-${person.subscription_period}-${person.subscription_status}-${person.subscription_expires}`
        else 
          td
